body {
  margin: 0;
  font-family: Poppins,
    sans-serif;
}

.light {
  background: #f4f8ff;
  color: #222;
}

.dark {
  background: #0f172a;
  color: white;
}

.dark .card {
  background: #1e293b;
  color: white;
}

.dark .table {
  color: white;
}

.dark .table-dark {
  background: #334155;
}